Brotli
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
et-xmlfile
Flask
Flask-Compress
gunicorn
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
openpyxl
packaging
pandas
patsy
plotly
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
sklearn
statsmodels
tenacity
threadpoolctl
Werkzeug
python-math
